<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>News</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<form th:object="${news}" action="/news/add" method="post">
  <p>Заголовок:
  <input type="text" id="title" th:field="*{title}" name="title" placeholder="Заголовок"><br>
      <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  </p>
  <p>Текст:
  <textarea id="body_text" name="body_text" th:field="*{body_text}" placeholder="Текст новости"></textarea><br>
  <div th:if="${#fields.hasErrors('body_text')}" th:errors="*{body_text}"></div>
  </p>
  <p>Автор:
  <input type="text" id="author" name="author" th:field="*{author}" placeholder="Автор"><br>
  <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
  </p>
  <p>Просмотры:
  <input type="text" id="views" name="views" th:field="*{views}" placeholder="Кол-во просмотров"><br>
  <div th:if="${#fields.hasErrors('views')}" th:errors="*{views}"></div>
  </p>
  <p>Лайки:
  <input type="text" id="likes" name="likes" th:field="*{likes}" placeholder="Кол-во лайков"><br>
  <div th:if="${#fields.hasErrors('likes')}" th:errors="*{likes}"></div>
  </p>
  <input type="submit" value="Добавить новость" class="btn btn-success"><br>
</form><br>

<a href="/news/" class="btn btn-primary">Назад</a>

</body>
</html>