<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Games</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:insert="fragments/header :: defaultheader"></div>

<form action="/games/add" method="post">
  <p>Название</p>
  <input type="text" id="name" name="name" placeholder="Название"><br>
  <p>Дата</p>
  <input type="text" id="date" name="date" placeholder="Дата"><br>
  <p>Жанр</p>
  <input type="text" id="jenre" name="jenre" placeholder="Жанр"><br>
  <p>Цена</p>
  <input type="number" id="cena" name="cena" placeholder="Цена"><br>
  <p>Кол-во проданных копиий</p>
  <input type="number" id="prodajKopii" name="prodajKopii" placeholder="Кол-во проданных копий игры"><br>

  <input type="submit" value="Добавить игру" class="btn btn-success"><br>
</form><br>

<a href="/games/" class="btn btn-primary">Назад</a>

</body>
</html>